span{
    height: 35px;
    
}

span img{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnz{
    height: 35px;
   
}

section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.mypost{
    height: 190px;
    width: auto;
    border: 1px solid rgb(172, 172, 172);
    padding: 0px 30px 0 15px;
    border-radius: 9px;
    margin-top: 20px;
}